.Banner {
  margin-bottom: calc(15px + 2vmin);
  padding: 10px;
  font-size: calc(15px + 2vmin);
}

.container-roomConnect {
  width: 75%;
  max-width: 300px;
}

.container-room {
  width: 75%;
  max-width: 300px;
}

.container-roomConnect > * {
  margin-bottom: calc(20px + 2vmin);
}

.container-colourPicker {
  margin: calc(20px + 2vmin);
}

.palette-colourPicker {
  margin-top: calc(10px + 2vmin);
  display: flex;
  justify-content: space-evenly;
}

.item-colourPicker {
  width: calc(30px + 2vmin);
  height: calc(30px + 2vmin);
}

.item-playerList {
  width: calc(30px + 2vmin);
  height: calc(30px + 2vmin);
}

.row-playerList {
  display: flex;
  justify-content: space-evenly;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #fff;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  height: 200px;
  width: 300px;
  padding: 20px;
}
